{% style %}
  .grid-sizer,
  .grid-item { width: 20%; }
  .grid-item img {
    display: block;
    width: 100%;
    height: auto;
  }
{% endstyle %}

<div class="page-width masonry">
  <h2 class="h1">{{  section.settings.headline }}</h2>
  <div class="grid">
    <div class="grid-sizer"></div>
    {% for block in section.blocks %}
      <div class="grid-item">
        {%- if block.settings.image -%}
          {{
            block.settings.image
            | image_url: width: 700
            | image_tag: class: 'masonry__image grid-image'
          }}
        {%- endif -%}
      </div>
    {% endfor %}
  </div>

</div>

<script src="{{ 'masonry.pkgd.min.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Masonry",
  "settings": [
    {
      "type": "text",
      "label": "headline",
      "id": "headline"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },   
        {
          "type": "text",
          "id": "description",
          "label": "description"
        },          
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Masonry",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

<script type="text/javascript">
  var elem = document.querySelector('.grid');
  var msnry = new Masonry( elem, {
    // options
    itemSelector: '.grid-item',
    // use element for option
    columnWidth: '.grid-sizer',
    percentPosition: true
  });
</script>